/* TOGGLE */
.rgp-toggle {
	float: left;
	line-height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	
	color: #fff;
}

/* MENU */
.rgp-menu {
	font-size: 1.1em;
}

.rgp-menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.rgp-menu > ul a {
	display: block;
	padding: 10px 15px;
	
	text-decoration: none;
	font-weight: 500;
	color: #373737;
}

.rgp-menu > ul i {
	margin-right: 6px;
}

.rgp-menu > ul a:hover, .rgp-menu > ul a:focus {
	background-color: #dfdfdf;
}

.rgp-menu > ul .is-selected {
	border-left: 3px solid #1e94d2;
	background-color: #f3f3f3;
}

.rgp-menu > ul .is-selected a {
	margin-left: -3px;
	color: #1e94d2;
}

/* PAGE TITLE */
.rgp-page-title {
	margin: 0;
	padding: 20px 0;
	
	font-size: 1.5em;
	color: #373737;
}

/* CONTAINER */
.form-container {
	margin: 5px 0px 10px 0px;
}
/* LABEL */
.form-group > label {
	display: block; 
	margin-bottom: 5px;

	font-weight: 600;
}

.no-padding {
	padding: 0 !important;
}

/* DIALOG */
.dialog-panel-form {
	border: none !important;
	padding: 0 !important; 
}